<div class="selected-weather">
    <h1></h1>
    <h2></h2>
    <img alt="weather-icon" src="">
</div>

<div class="input-location">
    <form>
        <label for="inputCityName">City name: </label>
        <input id="inputCityName" placeholder="City name">
    </form>
    <div class="results">

    </div>
    <!--
        1) Get the city names from a json file
        2) Let the user search for one place
        3) When the user submits the form take the city name and do request to weather api with the city name
        4) Show the results
     -->
</div>